<div [@routerTransition] class="dashboard">
    <div class="principal-box corpo">
    <img src="{{logo}}" width="200px" style="padding: 10px">
        <div class = "principal-grid">
            <div class="row" align="center">
                    <div class="col-sm-4">
                            <a routerLink="mith-true" class="link-page">
                                <img src="{{mithOrTrueLogo}}" class="element-logo imagens" />
                                <h2 class="description" class="textoMenu">Mito ou verdade?</h2>
                            </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="smile" class="link-page">
                            <img src="{{smileLogo}}" class="element-logo imagens" />
                            <h2 class="description" class="textoMenu">Smiles</h2>
                        </a>
                    </div>
                    <div class="col-sm-4">
                            <a routerLink="news" class="link-page">
                                <img src="{{newsLogo}}"  class="element-logo imagens" />
                                <h2 class="description" class="textoMenu">Novidades</h2>
                            </a>
                    </div>
            </div>
        </div>
        <div class="footer-principal">
                <a routerLink="contact" class="footer-element textoSubMenu">
                    Contato
                </a>
                <a routerLink="about" class="footer-element textoSubMenu">
                    Quem somos? 
                </a>
        </div>
    </div>
</div>
