.mith-true {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-image: 
    linear-gradient(45deg, #8FD8D2 25%, transparent 25%),
    linear-gradient(-45deg, #8FD8D2 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #8FD8D2 75%),
    linear-gradient(-45deg, transparent 75%, #8FD8D2 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    display: block;
    text-align: center;
    padding: 3em;

    .principal-box{
        background-color: #8FD8D2;
        height: 100%;

        .title {
            font-size: 40px;
            padding: 5px;
        }
        .resultado {
            font-size: 26px;
            padding: 5px;
        }
        .subtitle {
            font-size: 30px;
            padding: 5px;
        }
        
        @mixin conteudo{
            position: relative;
            margin: 50px 100px 0px 100px;
            padding-top: 20px;
        }

        .first-element {
            @include conteudo;
            .button-play{
                padding: 2%;
            }
        }

        .questions {
            @include conteudo;
        }

        .result {
            position: relative;
            top: 10%;
        }
        
        .element-logo {
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        .text {
            font-size: 20px;
            padding: 5px;
        }
    }
}
@media screen and (max-width: 768px ) {
    .imagens {
        width: 150px;
    }

    .subtitle {
        font-size: 20px !important;
    }

    .title {
        font-size:33px !important;
    }

    .text {
        font-size: 17px !important;
        margin-bottom: 0px !important;
    }
    .textoSubMenu {
        font-size: 18px;
    }

    .botao {
        margin-top: 15px;
    }

    .resultado {
        font-size: 21px !important;
    }

    .questions {
        margin: 0px 50px 0px 50px !important;
    }
 }

 @media screen and (max-width:425px){
    .resultado {
        font-size: 16px !important;
        margin-bottom: 5px;
    }
    .text {
        font-size: 14px !important;
    }

    .questions {
        position: relative;
        padding-top: 20px;
        top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .botaoResultado {
        margin-bottom: 0px;
    }
    .principal-box {
        height: 112% !important;
        font-size: 15px !important;
    }
    .btn-jogo {
        padding: -0.5rem 1rem !important;
        font-size: 1rem !important;
        line-height: 1.5 !important;
    }
    .btn {
        padding: 5px 15px 5px 15px !important;
    }
 }