.smiles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-image: 
    linear-gradient(45deg, #8FD8D2 25%, transparent 25%),
    linear-gradient(-45deg, #8FD8D2 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #8FD8D2 75%),
    linear-gradient(-45deg, transparent 75%, #8FD8D2 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    display: block;
    text-align: center;
    padding: 3em;

    .principal-box{
        background-color: #8FD8D2;
        height: 100%;

        .title {
            padding: 5px;
        }

        .first-element {
            position: relative;
            top: 18%;
            .button-play{
                padding: 2%;
            }
        }

        .sounds{
            position: absolute;
            top: 0;
            right: 1%;
        }    

        .element-logo {
            width: 200px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        .principal-grid {
            position: relative;
            top: 15%;
            .description{
                padding: 5px;
            }
        }

        .select-level {
            position: relative;
            top: 15%;
        }

        .select-color {
            position: relative;
            top: 15%;
        }

        .question {
            position: relative;
            top: 5%;
        }

        .question-description{
            padding: 5px;
        }

        .question-image {
            width: 150px;
            padding: 15px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        .option{
            position: relative;
            top: 10%;

            .option-image {
                width: 100px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

            .option-description{
                padding: 5px;
            }
        }

        .restart-button{
            position: relative;
            top: 20%;
        }

        .result {
            position: relative;
            top: 5%;
        }

        .text {
            padding: 5px;
        }

        .correct {
            position: relative;
            top: 10%;
        }

        .correct-image {
            width: 30%;
        }
    }
}

@media screen and (max-width: 768px ) {
    .imagens {
        width: 150px !important;
    }
    .imgJogos {
        width: 130px !important;
    }

    .textoMenu {
        font-size: 20px;
    }

    .question-image {
        width: 130px !important;
    }

    .pergunta {
        font-size: 21px !important;
    }

    .botao {
        margin-top: 15px;
    }

    .reniciar {
        top: 65px !important; 
    }
 }
 @media screen and (max-width:425px){
    .imagens {
        width: 110px !important;
    }
    .principal-box {
        height: 130% !important;        
    }
    .imgJogos {
        width: 80px !important;
    }
    
    .col-sm-3 {
        width: 50% !important;
    }
    .textoMenu {
        font-size: 18px !important;
    }

    .option {
        top: 5% !important;
    }
    .btn {
        padding: 5px 15px 5px 15px !important;
    }
}