<div class="smiles">
        <div class="principal-box">
            <h2 class="title">Smiles</h2>
    
            <div class="first-element" *ngIf="isFirst">
                <img src="{{smileLogo}}" class="element-logo"/>
                <div class="button-play">
                        <button (click)="onButtomPlay()" type="button" class="btn btn-light btn-lg">Jogar</button>
                </div>
            </div>
    
            <div *ngIf="selectLevel" class="select-level">
                <div class="principal-grid">
                    <div class="row" align="center">
                            <div class="col-sm-6">
                                <a href="javascript:void(0);" (click)="startGame(1)">
                                    <img src="{{levelOneLogo}}" class="element-logo"/>
                                    <h2 class="description">Nivel 1</h2>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="javascript:void(0);" (click)="startGame(2)">
                                        <img src="{{levelTwoLogo}}" class="element-logo"/>
                                        <h2 class="description">Nivel 2</h2>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
    
            <ng-container *ngIf="isGameStarted">
                    <div class="question">
                        <div class="row" align="center">
                                <div class="col-sm-12">
                                    <h2 class="question-description">
                                    {{atividadeAtiva.descricao}}
                                    <img class="question-image" *ngIf="atividadeAtiva.imagem" src="{{atividadeAtiva.imagem}}"/>
                                    </h2>
                                </div>
                            </div>
                    </div>   
    
                    <div class="option">
                        <div class="row" align="center">
                            <ng-container *ngFor="let opcao of atividadeAtiva.opcoes">
                                <div class="col-sm-3">
                                    <a href="javascript:void(0);" (click)="onOptionClick(opcao.id)">
                                        <img class="option-image" *ngIf="opcao && opcao.imagem" src="{{opcao.imagem}}"/>
                                        <h2 class="option-description">{{opcao.descricao }}</h2>
                                    </a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
    
                    <div class="restart-button">
                        <button (click)="onRestartButtonClick()" type="button" class="btn btn-light btn-lg">Reiniciar</button>
                    </div>
            </ng-container>
    
            <div class="result" *ngIf="isGameEnded">
                    <h2 class="title">{{timeResult}}</h2>
                <h2 class="title">{{result}}</h2>
                    <div>
                        <p class="text">{{message}}</p>
                        <p class="text">{{descriptionMessage}}</p>
                    </div>               
                <p class="text">Muito Obrigado por jogar!</p>
                <button (click)="onRestartButtonClick()" type="button" class="btn btn-light .btn-lg">Jogar Novamente</button>
            </div>
    
            <div class="footer">
                <a routerLink="" class="footer-element">
                    Voltar
                </a>
            </div>
        </div>
    </div>
    
    