<div class="smiles">
    <div class="principal-box">
        <h2 class="title">Smiles</h2>
        
        <div class="first-element" *ngIf="isFirst">
            <img src="{{smileLogo}}" class="element-logo"/>
            <div class="button-play">
                    <button (click)="onButtomPlay()" type="button" class="btn btn-light btn-lg">Jogar</button>
            </div>
        </div>

        <div class="sounds" *ngIf="!isFirst">
            <a *ngIf="isSoundEnable" href="javascript:void(0);" (click)="stopSong()">
                    <i class="fa fa-volume-off" style="color:black; font-size: 2.5em;"></i>
            </a>
            <a *ngIf="!isSoundEnable" href="javascript:void(0);" (click)="startSong()">
                    <i class="fa fa-volume-up" style="color:black; font-size: 2.5em;"></i>
            </a>
        </div>

        <div *ngIf="selectContext" class="select-level">
            <div class="principal-grid">
                <div class="row" align="center">
                        <div class="col-sm-4">
                            <a href="javascript:void(0);" (click)="setColor()">
                                <img src="{{colorContextLogo}}" class="element-logo"/>
                                <h2 class="description">Cores</h2>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="javascript:void(0);" (click)="startGame(atividadesNumero)">
                                    <img src="{{numberContextLogo}}" class="element-logo"/>
                                    <h2 class="description">Números</h2>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="javascript:void(0);" (click)="startGame(atividadesLetras)">
                                    <img src="{{letterContextLogo}}" class="element-logo"/>
                                    <h2 class="description">Letras</h2>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <div *ngIf="selectColor" class="select-color">
            <div class="principal-grid">
                <div class="row" align="center">
                        <div class="col-sm-3">
                            <a href="javascript:void(0);" (click)="startGame(atividadesCorVermelha)">
                                <img src="{{redColorLogo}}" class="element-logo"/>
                                <h2 class="description">Vermelho</h2>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0);" (click)="startGame(atividadesCorVerde)">
                                    <img src="{{greenColorLogo}}" class="element-logo"/>
                                    <h2 class="description">Verde</h2>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0);" (click)="startGame(atividadesCorAmarela)">
                                    <img src="{{yellowColorLogo}}" class="element-logo"/>
                                    <h2 class="description">Amarelo</h2>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0);" (click)="startGame(atividadesCorAzul)">
                                    <img src="{{blueColorLogo}}" class="element-logo"/>
                                    <h2 class="description">Azul</h2>
                            </a>
                        </div>
                </div>
            </div>
        </div>


        <ng-container *ngIf="isGameStarted">
               <div class="question">
                    <div class="row" align="center">
                            <div class="col-sm-12">
                                <h2 class="question-description">
                                {{atividadeAtiva.descricao}}
                                <img class="question-image" *ngIf="atividadeAtiva.imagem" src="{{atividadeAtiva.imagem}}"/>
                                </h2>
                            </div>
                        </div>
                </div>   

                <div class="option">
                    <div class="row" align="center">
                        <ng-container *ngFor="let opcao of atividadeAtiva.opcoes">
                            <div class="col-sm-3">
                                <a href="javascript:void(0);" (click)="onOptionClick(opcao.id)">
                                    <img class="option-image" *ngIf="opcao && opcao.imagem" src="{{opcao.imagem}}"/>
                                    <h2 class="option-description">{{opcao.descricao}}</h2>
                                </a>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="restart-button">
                    <button (click)="onRestartButtonClick()" type="button" class="btn btn-light btn-lg">Reiniciar</button>
                </div>
        </ng-container>

        <div *ngIf="correct" class="correct">
            <img src="{{correctLogo}}" class="correct-image"/>
            <h2>Você acertou!!</h2>
        </div>

        <div class="result" *ngIf="isGameEnded">
                <img src="{{congratsLogo}}" width="300"/>
                <h2 class="title">{{timeResult}}</h2>
                <div>
                    <p class="text">{{message}}</p>
                </div>               
            <button (click)="onRestartButtonClick()" type="button" class="btn btn-light btn-lg">Jogar Novamente</button>
        </div>

        <div class="footer">
                <a routerLink="" class="footer-element">
                    Voltar
                </a>
        </div>
    </div>
</div>


